%h3.form-header
  = t("registration.email_form.email_label")
%p.form_instruction
  = t("registration.email_form.form_instruction")

= fields_for @patient_enrollment do |f|
  .form-group
    = f.label :login, t("registration.email_form.email_label")
    = f.email_field :login, class: 'registration-input form-control'
  .form-group
    = f.label :login_confirmation, t("registration.email_form.reenter_label")
    = f.email_field :login_confirmation, class: 'registration-input form-control'
.validation_error

%a.btn.btn-primary.btn-block.disabled#next-email(href="#registration-details" role="button")=t("application.btn_next")