%h3.form_header
  ='Email'
%p.form_instruction
  ='Enter and confirm your email address below.'

= fields_for @patient_enrollment do |f|
  .form-group
    = f.label :login, 'Email'
    = f.email_field :login, class: 'registration-input form-control'
  .form-group  
    = f.label :login_confirmation, 'Re-enter Email'
    = f.email_field :login_confirmation, class: 'registration-input form-control'
.validation_error

%a.btn.btn-primary.btn-block.disabled#next-email(href="#registration-details" role="button")='Next'