%h3.form_header
  = t("registration.form_heading")
%p.form_instruction
  = t("registration.welcome.welcome_message")
.row
  .col-xs-2
    =image_tag 'register.png', id: 'register'
  .col-xs-10
    %p= t("registration.welcome.register_1")
    %p= t("registration.welcome.register_2")
.row
  .col-xs-2
    =image_tag 'download.png', id: 'download'
  .col-xs-10
    %p
    %p= t("registration.welcome.download")
.row
  .col-xs-2
    =image_tag 'login.png', id: 'login'
  .col-xs-10
    %p='Open Patient Cloud and use your account information to log in'
