%h3.form_header{:dir => "#{@script_direction}"}
  = t("registration.form_heading")
%p.form_instruction{:dir => "#{@script_direction}"}
  = t("registration.welcome.welcome_message")
.row
  .col-xs-2
    =image_tag 'register.png', id: 'register'
  .col-xs-10
    %p{:dir => "#{@script_direction}"}= t("registration.welcome.register_1")
    %p{:dir => "#{@script_direction}"}= t("registration.welcome.register_2")
.row
  .col-xs-2
    =image_tag 'download.png', id: 'download'
  .col-xs-10
    %p
    %p{:dir => "#{@script_direction}"}= t("registration.welcome.download")
.row
  .col-xs-2
    =image_tag 'login.png', id: 'login'
  .col-xs-10
    %p{:dir => "#{@script_direction}"}= t("registration.welcome.login")
