%h3.form_header{:dir => "#{@script_direction}"}= t("registration.password_form.password_label")
= t("registration.password_form.form_instruction_1")
%strong{:dir => "#{@script_direction}"}= t("registration.password_form.form_instruction_1_bold")
= t("registration.password_form.form_instruction_1_2")

%ul.password_instructions{:dir => "#{@script_direction}"}
  %li= t("registration.password_form.ul_1")
  %li= t("registration.password_form.ul_2")
  %li= t("registration.password_form.ul_3")
  %li= t("registration.password_form.ul_4")

%br
= fields_for @patient_enrollment do |f|
  .form-group
    = f.label :password, t("registration.password_form.password_label"), {dir: "#{@script_direction}"}
    = f.password_field :password, class: 'registration-input form-control', dir: "#{@script_direction}"
  .form-group
    = f.label :password_confirmation, t("registration.password_form.reenter_label"), {dir: "#{@script_direction}"}
    = f.password_field :password_confirmation, class: 'registration-input form-control', dir: "#{@script_direction}"
.validation_error.invisible
