='Enter and confirm a'
%strong='Password'
='of your choosing.'
%br
%br
='Your Password must be at least 8 characters long,'
='contain at least one upper-case letter, one lower-case letter and one'
='numeric digit.'
%br
%br
= fields_for @patient_enrollment do |f|
  = f.label :password
  %br
  = f.password_field :password, class: 'registration-input'
  %br
  
  = f.label :password_confirmation, 'Confirm Password'
  %br
  = f.password_field :password_confirmation, class: 'registration-input'
