%h3.form-header= t("registration.password_form.password_label")
= t("registration.password_form.form_instruction_1")
%strong= t("registration.password_form.form_instruction_1_bold")
= t("registration.password_form.form_instruction_1_2")

%ul.password-instructions
  %li= t("registration.password_form.ul_1")
  %li= t("registration.password_form.ul_2")
  %li= t("registration.password_form.ul_3")
  %li= t("registration.password_form.ul_4")

%br
= fields_for @patient_enrollment do |f|
  .form-group
    = f.label :password, t("registration.password_form.password_label")
    = f.password_field :password, class: 'registration-input form-control'
  .form-group
    = f.label :password_confirmation, t("registration.password_form.reenter_label")
    = f.password_field :password_confirmation, class: 'registration-input form-control'
.validation_error
%a.btn.btn-primary.btn-block#next-password(href="#registration-details" role="button")=t("application.btn_next")
