%h3.form_header='Password'
='Enter and confirm a'
%strong='Password'
='of your choosing that meets the below criteria:'
%ul.password_instructions
  %li='At least 8 characters long'
  %li='At least one upper-case letter'
  %li='At least one lower-case letter'
  %li='At least one numeric digit'
%br
= fields_for @patient_enrollment do |f|
  .form-group
    = f.label :password
    = f.password_field :password, class: 'registration-input form-control'
  .form-group
    = f.label :password_confirmation, 'Confirm Password'
    = f.password_field :password_confirmation, class: 'registration-input form-control'
.validation_error.invisible
