%h2.form_header='Security Question'
.form_instruction
  ='Select a '
  %strong='security question.'
= fields_for @patient_enrollment do |f|
  / label is included so capybara can find the control, but not displayed on the page
  .form-group
    = f.label :security_question, 'Security Question', {id: "question-label", class: 'invisible'}
    = f.select :security_question, @security_questions, {include_blank: 'Security Question'}, {class: 'form-control'}
  .form-group
    = f.label :answer, 'Security Answer'
    = f.text_field :answer, class: 'registration-input form-control', placeholder: 'Enter your response to the question'