%h3.form_header='Security Question'
.form_instruction
  = t("registration.security_question_form.form_instruction")
  %strong= t("registration.security_question_form.form_instruction_bold")
= fields_for @patient_enrollment do |f|
  / label is included so capybara can find the control, but not displayed on the page.  Not localizing because not displayed
  .form-group
    = f.label :security_question, 'Security Question', {id: "question-label", class: 'invisible'}
    = f.select :security_question, @security_questions, {include_blank:  t("registration.security_question_form.dropdown_placeholder")}, {class: 'form-control'}
  .form-group
    = f.label :answer,  t("registration.security_question_form.answer_label")
    = f.text_field :answer, class: 'registration-input form-control', placeholder:  t("registration.security_question_form.answer_placeholder")
