/ Note: This failed because login_confirmation wasn't a defined PatientEnrollment attribute
/ It should have failed for password_confirmation for the same reason. It didn't. Why?

- content_for :page_body do
  .top
    %span.center='medidata'
    %span.forward='?'
  %br
  
  = form_for @patient_enrollment do |f|
    = f.label :login, 'E-mail Address'
    %br
    = f.text_field :login
    %br

    = f.label :login_confirmation, 'Confirm E-mail Address'
    %br
    = f.text_field :login_confirmation
    %br

    = f.label :password
    %br
    = f.password_field :password
    %br

    = f.label :password_confirmation, 'Confirm Password'
    %br
    = f.password_field :password_confirmation
    %br

    = f.label :security_question, 'Security Question'
    %br
    = f.select :security_question, @security_questions, include_blank: true
    %br

    = f.label :answer
    %br
    = f.text_field :answer
    %br

    = f.submit 'Submit'

    .bottom
      %span.back
        %a.bottom='<'
      %span.center
      %span.forward='>'