/ Note: This failed because login_confirmation wasn't a defined PatientEnrollment attribute
/ It should have failed for password_confirmation for the same reason. It didn't. Why?

- content_for :page_body do
  .top
    %span.center='medidata'
    %span.forward='?'
  %br
  
  %h2.registration_details='Registration Details'
  
  .instruction='Just some placeholder text. Click the button to see the first part of the form!'
  /.hide
  .form-content
    = form_tag @patient_enrollment
    .instruction.hide
    .modal#email(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            ='Enter and confirm your'
            %strong='email address'
            ='in the username field.'
          .modal-body
            = fields_for @patient_enrollment do |f|
              = f.label :login, 'E-mail Address'
              %br
              = f.text_field :login
              %br
    
              = f.label :login_confirmation, 'Re-enter Email'
              %br
              = f.text_field :login_confirmation
              %br
          .modal-footer
            %button.btn.btn-default(data-dismiss="modal" data-toggle="modal" data-target="#password")
              ='Close'
    .modal#password(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header="Let's enter a password and submit!"
          .modal-body
            = fields_for @patient_enrollment do |f|
              = f.label :password
              %br
              = f.password_field :password
              %br
              
              = f.label :password_confirmation, 'Confirm Password'
              %br
              = f.password_field :password_confirmation
              %br
          .modal-footer
            = fields_for @patient_enrollment do |f|
              = f.submit 'Submit'
    .security_question.hide
      =fields_for @patient_enrollment do |f|
        = f.label :security_question, 'Security Question'
        %br
        = f.select :security_question, @security_questions, include_blank: true
        %br
        
        = f.label :answer
        %br
        = f.text_field :answer
        %br
      
        = f.submit 'Submit'
    
  .next
    .btn.btn-primary.trigger(data-toggle="modal" data-target="#email")='Next'
  .bottom
    %span.back
      %a='<'
    %span.center
    %span.forward='>'