- content_for :page_body do
  .header.navbar-fixed-top
    %a.back_arrow.pull-left.hidden
      %i.fa.fa-angle-left
      %span.sr-only='Back'
    =image_tag 'Medidata_Logo_white_RGB_2.png'
      
    .progress.hidden
      .progress-bar.progress-bar-default
        %span.sr-only='Page 1 of 4'
      .progress-bar.progress-bar-spacer
      .progress-bar.progress-bar-incomplete
        %span.sr-only='Page 2 of 4'
      .progress-bar.progress-bar-spacer
      .progress-bar.progress-bar-incomplete
        %span.sr-only='Page 3 of 4'
      .progress-bar.progress-bar-spacer
      .progress-bar.progress-bar-incomplete
        %span.sr-only='Page 4 of 4'
  
  = form_tag @patient_enrollment, id: 'reg-form'
  .carousel.slide#registration-details(data-interval="false")
    .carousel-inner(role="listbox")
      .item.active#landing_page
        = render 'landing_page'
      .item#tou_dpn_agreement
        = render 'tou_dpn_agreement'
      .item#email
        = render 'email_form'
      .item#password
        = render 'password_form'
      .item#security_question
        = render 'security_question_form'
  .bottom-bar
    %a.btn.btn-primary.btn-block#agree-button.hidden(href="#registration-details" role="button")='I agree'
    %a.btn.btn-primary.btn-block#next-button(href="#registration-details" role="button")='Next'
    .submit#submit-button
      = fields_for @patient_enrollment do |f|
        = f.submit 'Create account', class: 'btn btn-primary btn-block hidden', disabled: true, id: 'create-account'
