- content_for :page_body do
  .patient-enrollment
    .header
      =image_tag 'Medidata_Logo_white_RGB_2.png'
      %a.back-arrow.pull-left
        %i.fa.fa-angle-left
        %span.sr-only='Back'
        
    .progress-indicator.hidden
      .step.default
        %span.sr-only='Page 1 of 4'
      .step.incomplete
        %span.sr-only='Page 2 of 4'
      .step.incomplete
        %span.sr-only='Page 3 of 4'
      .step.incomplete
        %span.sr-only='Page 4 of 4'

    = form_tag register_patient_enrollment_path(@patient_enrollment_uuid), id: 'reg-form'
    
    #registration-details.clearfix
      .item.active#landing_page
        = render 'landing_page'
      .item#tou_dpn_agreement
        = render 'tou_dpn_agreement'
      .item#email
        = render 'email_form'
      .item#password
        = render 'password_form'
      .item#security_question
        = render 'security_question_form'
