= form_for @medidation do |f|
  .panel.panel-default.clearfix
    .panel-body
      - if @medidation.errors.any?
        #error_explanation
          %h2= "#{pluralize(@medidation.errors.count, 'error')} prohibited this medidation from being saved:"
          %ul
            - @medidation.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :first_name, t('medidations.medidation_form.first_name')
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name, t('medidations.medidation_form.last_name')
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :JobTitle, t('medidations.medidation_form.job_title')
        = f.select(:job_title_uuid, fetch_job_titles, {include_blank: true}, {class: 'form-control'}) unless @job_titles == nil
  .button-container
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', :root, class: 'btn btn-default'
