- content_for :page_header_text do
  %h3= t('medidations.index.medidation_heading')

- content_for :page_header_buttons do
  = link_to("#{content_tag(:span, nil, class: "fa fa-plus")} #{t('medidations.index.create_medidation')}".html_safe,
    new_medidation_path, {class: 'btn btn-primary', id: "create_medidation"})

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  #notice= notice

  .medidations.panel.panel-default
    %table#medidations.table
      %thead
        %th= t('medidations.index.first_name')
        %th= t('medidations.index.last_name')
        %th= t('medidations.index.job_title')
        %th


      %tbody
        - @medidations.each do |medidation|
          %tr{data: {action: url_for(action: 'show', id: medidation.uuid)  } }
            %td.first_name= medidation.first_name
            %td.last_name= medidation.last_name
            %td.job_titile= medidation.job_title_oid
            %td.buttons.text-right
              %a.btn.btn-default.btn-sm{href: edit_medidation_path(medidation)}
                %i.fa.fa-pencil
                = t('medidations.index.edit')
              %a.btn.btn-default.btn-sm{href: "/medidations/#{medidation.uuid}", id: medidation.uuid, data: {method: 'delete', confirm: 'Are you sure?'}}
                %i.fa.fa-times-circle
                = t('medidations.index.delete')
