- content_for :page_header_text do
  %h3= "#{t('medidations.show.medidation')} - #{@medidation.first_name} #{@medidation.last_name}"

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  #notice= notice

  .panel.panel-default.clearfix
    %strong.col-md-2= t('medidations.show.job_title')
    .col-md-10= @medidation.job_title_oid
  .button-container
    = link_to t('medidations.show.edit'), edit_medidation_path, {class: 'btn btn-default'}
    = link_to t('medidations.show.back'), medidations_path, {class: 'btn btn-default'}
