.panel.panel-default.center-block.col-md-10.pull-none.light-grey-border
  - if @patient_enrollments.any?
    #patient-list
      %h5
        .row
          .col-md-2= 'Added on'
          .col-md-2= 'Subject I.D.'
          .col-md-2= 'Email'
          .col-md-2= 'Initials'
          .col-md-2= 'Activation Code'
          .col-md-2= 'Registered'
      - @patient_enrollments.each do |enrollment|
        = render 'patient_list_element', enrollment: enrollment
      %hr
      .bottom.row
        .col-md-8
          %strong= '30 Total Results' 
          %span#pagination-control='Per page' 
          %a.btn='10'
          %a.btn.btn-primary='25'
          %a.btn='50'
          %a.btn='100'
        .col-md-3
          %a.btn='<<'
          %a.btn='<'
          %span='1 of 3'
          %a.btn='>'
          %a.btn='>>'
  - else
    = 'No patient invitations found. Use the form above to invite some.'
