.panel.panel-default
  - if @patient_enrollments.any?
    #patient-list
      %table.table
        %thead
          %tr
            %th= 'Added on'
            %th= 'Subject I.D.'
            %th= 'Email'
            %th= 'Initials'
            %th= 'Activation Code'
            %th= 'Registered'
        %tbody
          - @patient_enrollments.each do |enrollment|
            = render 'patient_list_element', enrollment: enrollment
      .panel-footer
        .paginate.clearfix
          .total-results
            %b=30 
            Total Result(s)
          .per-page
            %span='Per page'
            %ul
              %li
                %a{href: '#'} 10
              %li
                %a.selected.disabled{href: '#'} 25
              %li
                %a{href: '#'} 50
              %li
                %a{href: '#'} 100
          %ul.controls
            %li
              %a.disabled.first{href: '?page=1&per_page=10'}
                %i.fa.fa-angle-double-left
                %span.sr-only first
            %li
              %a.disabled.previous{href: '?page=1&per_page=10'}
                %i.fa.fa-angle-left
                %span.sr-only previous
            %li.counter
              %form{action: '/', method: 'get', novalidate: 'novalidate', 'accept-charset' => 'UTF-8'}
                %div{style: 'margin:0;padding:0;display:inline'}
                %input{name: 'utf8', type: 'hidden', value: '✓'}
                %input{name: 'per-page', type: 'hidden', value: '25'}
                %input{name: 'filter_by', type: 'hidden', value: 'all'}
                %input{name: 'sort_by', type: 'hidden', value: 'protocol_id,ASC'}
                %input#current-page.current_page.validPageNumber{name: 'page', size: '2', type: 'text', value: '1', maxlength: '2', autocomplete: 'off'}
                of
                %span.total-pages 20
            %li
              %a.next{href: '?page=2&per_page=10'}
                %i.fa.fa-angle-right
                %span.sr-only next
            %li
              %a.last{href: '?page=5&per_page=10'}
                %i.fa.fa-angle-double-right
                %span.sr-only last
  - else
    = 'No patient invitations found. Use the form above to invite some.'
