%hr
.list.row
  .col-md-2= invite[:created_at]
  .col-md-2= invite[:subject_identifier]
  .col-md-2= invite[:email]
  .col-md-2= invite[:initials]
  .col-md-2= invite[:activation_code]
  .col-md-2= invite[:state]