.panel.panel-default
  .panel-heading
    %h3.panel-title="Add a patient to #{@study_site_name}."
  .panel-body
    = form_for 'patient_enrollment', url: {action: 'invite', study_uuid: @study_uuid, study_site_uuid: @study_site_uuid}, remote: true, html: {id: 'invite-form', class: 'form-inline margin-bottom-thirty', 'data-study_uuid' => @study_uuid, 'data-study_site_uuid' => @study_site_uuid} do |f|
      %p.required
        %label Required
      .form-group.required
        = f.label :subject
        = f.select :subject, @available_subjects, {include_blank: @available_subjects.present? ? 'Subject' : 'No subjects available'}, {class: 'form-control'}
      .form-group.required
        = f.label :country_language, 'Country / Language'
        = f.select :country_language, @tou_dpn_agreements, {include_blank: 'Country / Language'}, {class: 'form-control'}
      .form-group
        = f.label :email, 'Subject email'
        = f.email_field :email, {class: 'form-control'}
      .form-group
        = f.label :initials, 'Subject initials'
        = f.text_field :initials, {class: 'form-control'}
      .form-group
        = f.label :submit, {class: 'invisible'}
        = f.submit 'Invite', id: 'invite-button', class: 'btn btn-primary', disabled: true
    .alert.alert-danger.hidden#invite-form-error
      %span.sr-only Error:
      %span.message
      #error-x-button.pull-right X
