.panel.panel-default
  - if @patient_enrollments.any?
    #patient-list
      %table.table
        %thead
          %tr
            %th= 'Added on'
            %th= 'Subject I.D.'
            %th= 'Email'
            %th= 'Initials'
            %th= 'Activation Code'
            %th= 'Registered'
        %tbody
          / patient invitation elements are appended here!
      .panel-footer
        .paginate.clearfix
          .total-results
            %b=@patient_enrollments.count
            Total Result(s)
          .per-page
            %span='Per page'
            %ul
              %li
                %a{href: '#'} 10
              %li
                %a.selected.disabled{href: '#'} 25
              %li
                %a{href: '#'} 50
              %li
                %a{href: '#'} 100
          %ul.controls
            %li
              %a.disabled.first{href: '#'}
                %i.fa.fa-angle-double-left
                %span.sr-only first
            %li
              %a.disabled.previous{href: '#'}
                %i.fa.fa-angle-left
                %span.sr-only previous
            %li.counter
              %form{action: '/', method: 'get', novalidate: 'novalidate', 'accept-charset' => 'UTF-8'}
                %div{style: 'margin:0;padding:0;display:inline'}
                %input#current-page.current_page.validPageNumber{name: 'page', size: '2', type: 'text', value: '1', maxlength: '2', autocomplete: 'off'}
                of
                %span.total-pages 20
            %li
              %a.next
                %i.fa.fa-angle-right
                %span.sr-only next
            %li
              %a.last{href: '#'}
                %i.fa.fa-angle-double-right
                %span.sr-only last
  - else
    = 'No patient invitations found. Use the form above to invite some.'

:javascript
  var MUI = MUI || {};
  MUI.patientEnrollments = #{@patient_enrollments.to_json}
