%hr
.list.row
  .col-md-2= enrollment[:created_at]
  .col-md-2= enrollment[:subject_identifier]
  .col-md-2= enrollment[:email]
  .col-md-2= enrollment[:initials]
  .col-md-2= enrollment[:activation_code]
  .col-md-2= enrollment[:state]