.panel-heading
  %h3 Form Basics
  %p The MCC form CSS follow the <a href="http://getbootstrap.com/css/#forms">Bootstrap form CSS</a> and adheres as much as possible to the standard HTML form specifications. This page shows examples of form elements styled using the Bootstrap classes. Here are a couple of links to the MDN forms reference and guide to help understand the core form elements.

  %ul
    %li= link_to 'MDN Forms Guide', 'https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms'
    %li= link_to 'MDN Forms Reference', 'https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form'

.panel-body.sandman-docs
  %ul.list-unstyled
    -# Form tag
    %li.row
      .col-xs-12.col-sm-12
        %h4 The form tag
        %p the html form tag is what should wrap all your form field and related buttons so that your forms work correctly. Here are a few rules and tips about the form tags
        %ul.list-unstyled
          %li Form tags are block elements, so there is no need to wrap them in a div or other container element to achieve many form layouts
          %li The submit button shou  dl be wrapped in the form tag to avoid having to add any additional mark-up or javascript to make a form work

      .col-xs-12.code.col-sm-12
        code sample
    -# Form component
    %li.row
      .col-xs-12.col-sm-4
        %h4 Form component layout and html
        %p The basic form component is made up of a combination of at minimum a label and and input element. This follows the html structure and class names used in the <a href="http://getbootstrap.com/css/#forms">Bootstrap form CSS</a>. We follow this structure for most input/label combinations and use these as the building blocks for larger forms.
      .col-xs-12.form-group.col-sm-4
        %label Text Input Label
        %input.form-control{:type => 'text', placeholder: 'placeholder text'}
      .col-xs-12.col-sm-4
        %h4 DOM Diagram
        = image_tag('sandman/form-group.png')
      .code.col-xs-12.col-sm-12
        code sample
    -# Input <types></types>
    %li.row
      .col-sm-4
        %h4 Input types
        %p Form input types, as described by the MDN documentation and native to HTML, when used with the <a href="http://getbootstrap.com/css/#forms">Bootstrap form</a> HTML and CSS. All examples will follow the same DOM diagram structure shown above.
      .col-sm-4
        .form-group
          %label input type='text'
          %input.form-control{type: "text"}
        .form-group
          %label input type='password'
          %input.form-control{type: "password"}
        .form-group
          %label textarea
          %textarea.form-control
      .col-sm-4
        .checkbox
          %label
            %input{type: "checkbox"}
            input type='checkbox'
        .radio
          %label
            %input{type: "radio", name: 'radioOptions'}
            input type='radio'
        .radio
          %label
            %input{type: "radio", name: 'radioOptions'}
            input type='radio'
      %li.row
        .col-md-4
          %h4 file input
          %input.form-control{type: 'file'}
        .col-md-4
          %h4 button
          .form-group
            %p input type="submit" w/ btn classes
            %input.btn.btn-primary{type: "submit"}
          .form-group
            %p input type="reset" w/ btn classes
            %input.btn.btn-default{type: "reset"}
          .form-group
            %p input type="button" w/ btn classes (value must be provided)
            %input.btn.btn-default{type: "button", value: 'Button'}
          .form-group
            %p button tag w/ btn classes
            %button.btn.bnt-default Button Tag
        .col-md-4
          %h4 Selects
          .form-group
            %p single
            %select.form-control{name: "select"}
              = options_for_select([["Dollar", "$"], ["Kroner", "DKK"], ["Euro", "eu"], ["Peso", "$"], ["Pound", "$"]])
          .form-group
            %p multi
            %select.form-control{name: "select", multiple: true, size: 5}
              = options_for_select([["Dollar", "$"], ["Kroner", "DKK"], ["Euro", "eu"], ["Peso", "$"], ["Pound", "$"]])

