- content_for :page_header_text do
  %h3= 'Forms'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  %h3.panel-title Forms
  %p Forms intro
  .panel.panel-default.panel-tabs
    %ul.nav.nav-tabs{role: 'tab-list'}
      %li
        %a{href: '#basics', data: {toggle: 'tab'}} Form Basics
      %li
        %a{href: '#html5', data: {toggle: 'tab'}} HTML5 Form Features
      %li.active
        %a{href: '#layouts', data: {toggle: 'tab'}} Form Layouts
    .tab-content
      #basics.tab-pane
        = render '/sandman/forms/basics'
      #html5.tab-pane
        = render '/sandman/forms/html5'
      #layouts.tab-pane.active
        = render '/sandman/forms/layouts'
