- content_for :page_header_text do
  %h3= 'Sandman SASS Mixins'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do
  .panel.panel-default.test-mixin
    .panel-heading
      %p These are the SASS Mixins provided by Sandman and bootstrap for general use in SCSS files.
    .panel-body
      %ul.mixins.list-unstyled
        - @mixins_data.each do |row|
          %li.mixin
            %h3.heading= row['mixin']
            .row
              .code.col-xs-12.col-sm-4= row['code'].html_safe
              .description.col-xs-12.col-sm-8.text-info= row['description'].html_safe
            .example
              = render row['example']
