- content_for :page_header_text do
  %h3= 'Panels'

- content_for :page_header do
  = render 'shared/page_header'

- content_for :page_body do

  .panel.panel-default
    .panel-heading
      %h3.panel-title Panel Title Content
    .panel-body
      .col-sm-6
        %p Panels are the main type of layout container used in the MCC and are easy to spot by the white background and rounded corners.
        %p To produce the minimum panel, all that is required is a div tag with the classes .panel .panel-default
      .col-sm-6
        = image_tag '/assets/sandman/panel_01.png'
    .panel-footer
      %p Panel Footer content


  %p The most common pattern for a panel will be a table with pagination, filtering and search inside it. More details about the individual components are provided below the example.
  .panel.panel-default
    .panel-heading
      = render 'sandman/shared/filter_search'
    .panel-body
    = render 'sandman/shared/table'
    .panel-footer
      = render 'sandman/shared/pagination'

  %h4 Filters and Search
  %p More code details: <a href="/sandman/filters">Filters</a>
  = render 'sandman/shared/filter_search'

  %h4 Tables
  %p Tables should be used in place of the panel-body. They require the .table class to apply the skin provided by bootstrap and the mcc theme
  %code
    :escaped
       <table class="table">...</table>
  %h4 Pagination
  %p Platform pagination design that includes per page toggle and and jumping to a page
  = render 'sandman/shared/pagination'


  %h2 Tabbed Panels
  %p Another common pattern is a panel with tabs. Here the Bootstrap tabs are combined with an extended panel class to create a tabbed panel
  .panel.panel-default.panel-tabs
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#tab1", data: {toggle: 'tab'}} Tab 1
      %li
        %a{href: "#tab2", data: {toggle: 'tab'}} Tab 2
      %li
        %a{href: "#tab3", data: {toggle: 'tab'}} Tab 3
    .tab-content
      #tab1.tab-pane.active
        .panel-heading
          %h1.panel-title Panel Tab 1 Title
        .panel-body
          %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
      #tab2.tab-pane
        .panel-heading
          %h1.panel-title Panel Tab 2 Title
        .panel-body
          %p Panel Tab 2 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
      #tab3.tab-pane
        .panel-heading
          %h1.panel-title Panel Tab 3 Title
        .panel-body
          %p Panel Tab 3 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
    .panel-footer
      Static Panel Footer

  %h2 Split Panels
  %p Split panels add CSS to handle a basic 2 column panel. This uses a display:table rule to force the columns to be equal heights and maintain the center border. Since the css rule oly apply to the the panel-body element, it is possible to combine split panesl with single-column panels when using tabbed panels
  .panel.panel-default.panel-tabs
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#split-tab1", data: {toggle: 'tab'}} Tab 1
      %li
        %a{href: "#split-tab2", data: {toggle: 'tab'}} Tab 2
      %li
        %a{href: "#split-tab3", data: {toggle: 'tab'}} Tab 3
    .tab-content
      #split-tab1.tab-pane.active
        .panel-heading
          %h1.panel-title Panel Tab 1 Title
        .panel-body.panel-split
          .panel-split-pane
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
          .panel-split-pane.panel-split-pane-left
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
            %p Panel Tab 1 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
      #split-tab2.tab-pane
        .panel-heading
          %h1.panel-title Panel Tab 2 Title
        .panel-body
          %p Panel Tab 2 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
      #split-tab3.tab-pane
        .panel-heading
          %h1.panel-title Panel Tab 3 Title
        .panel-body
          %p Panel Tab 3 Content Donec vehicula mauris sodales justo efficitur scelerisque. Suspendisse potenti. Mauris ultricies auctor volutpat. Integer feugiat libero ex, a pharetra orci tempus et. Sed sagittis faucibus massa maximus congue. Vivamus iaculis sagittis sem id auctor. Vivamus porttitor efficitur auctor.
    .panel-footer
      Static Panel Footer
