%button.btn.btn-default{ data: { toggle: 'modal', target: '#my-modal' } } Open modal

%br
%br
%p
  %b NOTE:
  %br
  This is the code that generated the modal
  %script{ src: 'https://gist.github.com/ayong-mdsol/f8d785acfcf5e89f3088.js' }

= modal({id: 'my-modal'}) do |m|
  = m.header do
    = m.close
    = m.title 'Modal header'
  = m.body do
    Modal Body
  = m.footer do
    = button "OK", class: 'btn btn-primary'
    = button "Cancel", class: 'btn btn-default', data: { dismiss: 'modal' }
