!!! 5
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %title= t('application.title')
    %meta{ name: 'description', content: '' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = cdn_javascript_include_tag 'modernizr'
    = cdn_stylesheet_link_tag    'platform'
    = stylesheet_link_tag        'application'
    = csrf_meta_tags
  %body
    #main.clearfix
      .patient
        = yield :page_body
        .modal.fade#modal-speedbump
          .modal-dialog
            .modal-content
              .modal-body
                =@speedbump_text
              .modal-footer
                %a.btn.modal-btn#cancel-btn(data-dismiss='modal')=@cancel_text
                %a.btn.modal-btn#open-btn
                  %strong=@proceed_text
        .modal.fade#modal-info
          .modal-dialog
            .modal-content
              .modal-body
                =@message_text
              .modal-footer
                %a.btn.modal-btn.btn-block#cancel-btn(data-dismiss='modal')='OK'

    = cdn_javascript_include_tag 'jquery'
    = cdn_javascript_include_tag 'platform'
    = javascript_include_tag :application

    = yield :javascript
